.title {
	color: #2e2e2e;
	font-size: 26px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.subtitle {
	color: #2e2e2e;
	font-size: 20px;
	font-weight: 300;
	margin-top: 20px;
	text-align: center;
}

.diviner {
	width: 148px;
	height: 1px;
	background-color: $main-color;
	margin: 0 auto;
	margin-top: 17px;

}

@media (max-width: 767px) {
	.title {
		font-size: 22px;
	}

	.subtitle {
		font-size: 16px;
	}
}

@media (max-width: 575px) {
	.title {
		font-size: 20px;
	}

	.subtitle {
		margin-top: 16px;
	}

	.diviner {
		margin-top: 15px;
	}

}